:root {
  /* --clr-primary: #dedde2; */
  --clr-primary: #ffff;
  --clr-primary-light: #f2f2f2;
  --clr-grey-1: #0d0d0d;
  --clr-grey-5: #bdbbbe;
  --clr-grey-10: #f1f5f8;
  --ff-primary: "Space Grotesk", sans-serif;
  --ff-secondary: "Grand Hotel", cursive;
  --transition: all 0.3s linear;
  --spacing: 0.15rem;
  --radius: 0.5rem;
  --container-padding: 2% 5% 5%;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr--grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-10);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 4rem;
  font-weight: bolder;
}

h2 {
  font-size: 4rem;
  font-weight: bolder;
}

h3 {
  font-size: 1.5rem;
  text-shadow: #bdbbbe;
}

h4 {
  font-size: 0.875rem;
}

p {
  text-transform: capitalize;
  line-height: 1.5;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-10);
}

/* banner */

.carousel-control-prev,
.carousel-control-next {
  height: 80vh;
}
#banner {
  height: 80vh;
}
#banner img {
  height: 80vh;
  object-fit: fill;
}

/* movie/ tv*/
section {
  background: #111111;
  color: var(--clr-grey-10);
}

.card-group {
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap; /* Prevent flex items from wrapping to a new line */
  flex-wrap: nowrap;
}
.card-group::-webkit-scrollbar {
  color: transparent;
  font-size: 5px; /* Hide scrollbar in Webkit (Chrome, Safari, etc.) */
}
.card {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  min-width: 20%; /* Set a fixed width for each card */
  padding: 1% 2% 1%;
}
.card-group img {
  border-radius: 15px;
}
